<div class="container">
  <div>
    <h1 class="primary-titles">Ciudades destacadas</h1>
  </div>
  <div class="content-section-container row">
    <% ['Quito', 'Guayaquil', 'Ambato'].each do |city|%>
      <%= render "feature_neighborhood_card", city: city%>
    <% end %>
  </div>
</div>