<div class="card feature-container-card col col-12 background-image neighborhood-card-container">
  <div class="card-body" style="position: relative">
    <h5 class="card-title">Card title</h5>
    <a href="#" class="btn btn-primary show-more-button-card">Ver mas</a>
  </div>
</div>
<style>
.show-more-button-card {
  position: absolute;
  bottom: 20px;
}
.neighborhood-card-container {
    width: 18rem;
    height: 14.5rem;
}
</style>