<div class="card card-container col col-12 background-image">
  <div class="card-body">
    <h5 class="card-title"><%= city%></h5>
    <a href="#" class="btn btn-primary show-more-button-card">Ver mas</a>
  </div>
</div>