<div class="feature-properties container">
  <div>
    <h1 class="primary-titles">Propiedades destacadas</h1>
  </div>
  <div class="feature-container row">
  <%# Change 6.times to each with features properties %>
    <% 6.times do %>
      <%= render "properties/property_card"%>
    <% end %>
  </div>
  <div class="feature-container">
    <button type="text">View More</button>
  </div>
</div>

<style>
.feature-properties {
  background-color: #84b6f4;
}
</style>