<div class="search-container container-fluid">
  <div class="row justify-content-around align-self-start">
    <div class="col-12 col-md-3">
      <h2>Encuentra tu nuevo hogar</h2>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Provincia, Cantón" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- about us -->
<%# <%= render 'main/partials/about_us'%>

<!-- Neighborhoods -->
<%= render 'main/partials/features_neighborhoods'%>

<!-- Properties -->
<%= render 'main/partials/features_properties'%>