<div class='card-icons-container'>
  <i class='fa-solid fa-bed'> <%= property_feature.rooms%></i> 
  <i class='fa-solid fa-bath'> <%= property_feature.bathrooms%></i>
  <i class='fa-solid fa-car'> <%= property_feature.parking%></i>
  <i class='fa-solid fa-expand'> <%= property_feature.total_area%></i>
</div>