<div class="card card-container col col-12 col-md-6">
  <%= render 'properties/carrousel', property: property %>
  <h4 class="card-title operation-property-card-label"><%= property.operation %></h6>
  <h4 class="price-property-card-label"><%= property.price %></h4>
  <h4 class="city-property-card-label"><%= property.address.city %></h4>
</div>
<%# <div>
    <i class="fa-solid fa-bed"></i>  habitaciones 
    <i class="fa-solid fa-bath"></i> baños
    <i class="fa-solid fa-car"></i> cochera 
    <i class="fa-solid fa-person-swimming"></i> piscina
    <i class="fa-solid fa-expand"></i> area
  <div> %>