<div class="card feature-container-card col col-12 background-image property-card-container" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title operation-property-label">Operation</h6>
    <h4 class="price-property-label">300.000$</h4>
  </div>
</div>

<style>
.background-image {
  background: url("https://st2.depositphotos.com/1041088/7766/i/600/depositphotos_77665926-stock-photo-large-modern-house-with-stone.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.operation-property-label {
  background-color: white;
}
.price-property-label {
  position: absolute;
  bottom: 20px;
  background-color: white
}
.property-card-container {
    width: 18rem;
    height: 14.5rem;
}
</style>