<p id="notice"><%= notice %></p>

<h1>Properties</h1>
<div class="container-fluid row justify-content-start">
  <%= render 'properties/filter_form'%>
  <div class="col-md-10 properties-container">
    <div class="row justify-content-center">
      <% @properties.each do |property| %>
            <%= render "properties/property_card", property: property%>
      <% end %>
    </div>
  </div>
</div>

      <%#= link_to 'Show', property %>
      <%# if admin_signed_in? %>
        <%#= link_to 'Edit', edit_property_path(property) %>
        <%#= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>            
      <%# end %>
<%= link_to 'New Property', new_property_path %>
