<div class="container-fluid row justify-content-start">
  <%= render 'properties/partials/filter_form'%>
  <div class="col-md-10 properties-container p-3">
    <div class="row justify-content-center">
      <% @properties.each do |property| %>
        <%= render "properties/partials/property_card", property: property%>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @properties %>