<%= link_to properties_filter_path(neighborhood: neighborhood, page: 1), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container col col-12 background-image" style="background-image:url(<%= image %>)">
    <div class="card-body">
      <h5 class="card-title"><%= neighborhood.capitalize %></h5>
    </div>
  </div>
<% end %>
