<h1>Editing Property Feature</h1>

<%= render 'property_features/partials/form', property_feature: @property_feature %>

<%= link_to 'Show', property_path(@property_feature.property_id) %> |
<%= link_to 'Back', properties_path %>
