/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'bootstrap/scss/bootstrap';

/* Navbar */

.nav-font {
  font-size: 20px;
}

 /* Main search */
.search-container {
     width: 100%;
     height: 400px;
     margin-bottom: 40px;
     background: url("https://photolari.com/wp-content/uploads/2017/06/MontBlancGigapixel-01.jpg") no-repeat center center; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

/* About us */
.agent-image {
  width: 200px;
  margin: 20px;
  border-radius: 100px;
}
.about-us-image-container {
  text-align: center;
}
.about-us-info {
  font-size: 25px;
  line-height: 55px
}

/* Features neighborhood */
.background-image {
  background: url("https://st2.depositphotos.com/1041088/7766/i/600/depositphotos_77665926-stock-photo-large-modern-house-with-stone.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.show-more-button-card {
  position: absolute;
  bottom: 20px;
}

/* Carrousel */
.background-covr {
  width: 100%;
  float: left;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
}

.carrousel-index-container .background-covr {
  height: 270px;
  width: 400px;
}

/* Common */
.content-section-container {
    margin: 20px 0px 20px 0px;
}
.card-container {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0px;
  height: 430px;
  width: 380px;
  box-shadow: 0 30px 40px rgba(0,0,0,.2);
}

.card-description {
  margin-bottom: 5px;
  width: 350px;
  height: 70px;
}

.remove-link-styles, .remove-link-styles:hover {
  text-decoration: none !important;
  color: #000;
  padding: 0px;
}

.card-icons-container i {
  margin-right: 15px;
}

.card-description-container {
  padding: 7px 15px;
}

/* Contact */
.contact-form-container {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

/* Properties */
.filter-container {
  padding: 20px 30px;
}

/* Property */
.property-sections-container {
  border-radius: 5px;
  margin: 30px 0px;
  padding: 20px;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.property-sections-carrousel-container {
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  border-radius: 5px;
}

.border-shadow {
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.property-sections-container.property-sections-carrousel-container {
  padding: 20px;
  margin: 0px;
}